{%extends 'base.html'%}

{%block title%}My Dashboard{%endblock title%}

{% block content %}
<header class="masthead">
	<div class="container">
<h2 class="text-light">Events Organized by You:</h2>
<div class="row">
	<br>
	{% for event in my_events %}
		<div class="col-md-4">
			<div class="card my-2" style='background-color:	rgba(255,255,255, 0.75)'>
  			<div class="card-header">Organized by you</div>
				<div class="card-body text-center">
 					<h5 class="card-title">{{event.name}}</h5>
 					<h6 class="card-title">Event Location: {{event.location}} </h6>
 					<h6 class="card-title">Date: {{event.date}} </h6>
 					<h6 class="card-title">Available Seats: {% if not event.seats_left %} 0 {% else %}{{event.seats_left}}{% endif %} </h6>
         	<a href="{% url 'event-detail' event.slug %}" class="btn btn-outline-info">View</a>
      		<a href="{% url 'event-edit' event.slug %}" class="btn btn-outline-success">Edit</a>
         	<a href="{% url 'event-delete' event.slug %}" class="btn btn-outline-danger">Delete</a>
		    </div>
	   </div>
    </div>
	{% endfor %}
 </div>

 <br>
 <h2 class="text-light">Events Booked by You:</h2>
<div class="row">
 {% for event in booked_events %}
	<div class="col-md-4">
		<div class="card my-2" style='background-color:	rgba(255,255,255, 0.75)'>
  			<div class="card-header">Booked by you</div>
			<div class="card-body text-center">
 					<h5 class="card-title">{{event.event.name}}</h5>
 					<h6 class="card-title">Event Location: {{event.event.location}} </h6>
 					<h6 class="card-title">Date: {{event.event.date}} </h6>
 					<h6 class="card-title"> Booked Tickets: {{event.tickets}} </h6>
         	<a href="{% url 'event-detail' event.event.slug %}" class="btn btn-outline-info">View</a>

      		<a href="#" class="btn btn-outline-warning">Cancel Booking</a>

        {% comment %}
        		<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalCenterTitle">Cancel Booking</h5>
				        <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">
				          <i class="fas fa-times"></i>
				        </button>
				      </div>
				      <form action="{% url 'cancel-booking' event.slug %}" method="POST">
				      <div class="modal-body">
						{% csrf_token %}
				      </div>
				      <div class="modal-footer">
				        <input type="submit" value="Book Event" class="btn btn-lg btn-outline-info"></input>
				      </div>
				      </form>
				    </div>
				  </div>
				</div>

		{% endcomment %}



		    </div>
	   	</div>
    </div>
	{% endfor %}
 </div>


<br>
<h2 class="text-light">Events Attended by You:</h2>
<div class="row">
{% for event in attended_events %}
	<div class="col-md-4">
		<div class="card my-2" style='background-color:	rgba(255,255,255, 0.75)'>
  			<div class="card-header">Attended by you</div>
			<div class="card-body text-center">
 					<h5 class="card-title">{{event.event.name}}</h5>
 					<h6 class="card-title">Event Location: {{event.event.location}} </h6>
 					<h6 class="card-title">Date: {{event.event.date}} </h6>
         	<a href="{% url 'event-detail' event.event.slug %}" class="btn btn-outline-info">View</a>
		    </div>
	   	</div>
    </div>
	{% endfor %}

 </div>

 <br>
 <a href="{% url 'create-event' %}" class="btn btn-xl btn-outline-secondary float-right">Create Event</a>
</div>
</header>
{%endblock%}