{%extends 'base.html'%}

{%block title%}List of Events{%endblock title%}

{%block content%}
<header class="masthead">
<div class="container">
<div class="row">
	<div class="col-12 ">
	<form action = "{% url 'events-list' %}" class="form my-2 my-lg-0" method = "GET">
		<div class="input-group mb-3">
  		<input type="text" class="form-control" placeholder="Search Events" aria-describedby="basic-addon2" value = "{{request.GET.q}}" aria-label="Search" name = 'q'>
  	<div class="input-group-append">
    <button class="btn btn-outline-success" id="basic-addon2" type="submit">Search</button>
  </div>
</div>
	</form>
	</div>


</div>

<br>
<h2>Upcoming Events..</h2>

<div class="row">
	{% for event in events %}
		<div class="col-md-4">
			<div class="card my-2">
				<div class="card-header">
					Upcoming Events
				</div>
				<div class="card-body">
					<h5 class="card-title">{{event.name}}</h5>
					<h6 class="card-title">Date: {{event.date}} </h6>
					<h6 class="card-title"> Available Seats: {% if not event.seats_left %} 0 {% else %}{{event.seats_left}} {% endif %} </h6>
					<a href="{% url 'event-detail' event.slug %}" class="btn btn-outline-info">Find More</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
</div>
</header>




{%endblock content%}