{% extends 'base.html' %}

{%block title%}Event Detail{%endblock title%}

{%block content%}

	<div class="card text-center">
	  <div class="card-header">
	    Upcoming Event
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">{{event.name}}</h5>
	    <p class="card-text">{{event.description}}</p>
	    <p class="card-text">Date: {{event.date}}</p>
	    <p class="card-text">Time: {{event.time}}</p>
	    <p class="card-text">Organized by: {{event.organizer.first_name}} {{event.organizer.last_name}}</p>
	    <a href="#" class="btn btn-outline-info">Book now!</a>
	  </div>
	  <div class="card-footer text-muted">
	    {{event.seats}} Left
	  </div>
	</div>

{%endblock content%}