{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block title%}Event Detail{%endblock title%}

{%block content%}
<header class="masthead">
<div class="container">
	<div class="container">
	<div class="card text-center" style='background-color:rgba(255,255,255, 0.75)'>
	  <div class="card-header">
	    Event Details
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">{{event.name}}</h5>
	    <p class="card-text">{{event.description}}</p>
	    <p class="card-text">Date: {{event.date}}</p>
	    <p class="card-text">Time: {{event.time}}</p>
	    <p class="card-text">Location: {{event.location}}</p>
	    <p class="card-text">Organized by: {{event.organizer.first_name}} {{event.organizer.last_name}}</p>
  

	    {% if request.user == organizer %}

      		<a href="{% url 'event-edit' event.slug %}" class="btn btn-outline-success my-2">Edit</a>
         	<a href="{% url 'event-delete' event.slug %}" class="btn btn-outline-danger my-2">Delete</a>


		<br>

         	<table class="table table-hover my-3" style='background-color: rgba(220,220,220, 0.6)'>
				<thead>
				    <tr>
				      <th scope="col">First Name</th>
				      <th scope="col">Last Name</th>
				      <th scope="col">Number of Tickets</th>
				    </tr>
				</thead>

				<tbody>
				    	{% for booker in bookers %}
				    		<tr>
							    <td>{{booker.user.first_name}}</td>
							    <td>{{booker.user.last_name}}</td>
							    <td>{{booker.tickets}}</td>
				    		</tr>
				    		
				    	{% endfor %}  
				 </tbody>
			</table>

        {% else %}

        	{% if event.seats_left %}
        		<button class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalCenter">Book now!</button>

        		<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalCenterTitle">Book Tickets</h5>
				        <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">
				          <i class="fas fa-times"></i>
				        </button>
				      </div>
				      <form action="{% url 'event-book' event.slug %}" method="POST">
				      <div class="modal-body">
						{% csrf_token %}
						{{form|crispy}}
						
				      </div>
				      <div class="modal-footer">
				        <input type="submit" value="Book Event" class="btn btn-lg btn-outline-info"></input>
				      </div>
				      </form>
				    </div>
				  </div>
				</div>

        		{% else %}
        			<a href="#" class="btn btn-lg btn-outline-danger">Full Event</a>

        	{% endif %}

	    {% endif %}

	  </div>
	  <div class="card-footer">
	    Available Seats: {% if not event.seats_left %} 0 {% else %}{{event.seats_left}} 
	    {% endif %}
	  </div>
	</div>
</div>
</div>
</header>
{%endblock content%}