{% extends "base.html" %}

{% block content %}
  <header class="masthead">
  <div class="container text-center">

    <h1 class="masthead-heading mb-0 text-center text-white">All the events,</h1>
    <h2 class="masthead-subheading mb-0 text-center text-white">You could ever want...</h2>
  {% if request.user.is_anonymous %}
      <a href="{% url 'signup' %}" ><button class="btn btn-secondary btn-xl rounded-pill mt-5" disabled >Sign up to find events!</button></a>
  {% else %}
      <a href="{% url 'events-list' %}"><button class="btn btn-secondary btn-xl rounded-pill mt-5" disabled>Find events!</button></a>
   {% endif %}

  </div>
  </header>

{% endblock %}