{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
        <div class="jumbotron" style='background-color: rgba(0,0,0, 0.8)'>
          <h2 class="masthead-subheading mb-0" >Log In</h2>
          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input button class="btn btn-lg btn-outline-secondary" type="submit" value="Login">
          </form>

          <br>

          <a href = "{% url 'google_login' %}"><button class="btn btn-lg btn-outline-secondary"><i class="fab fa-google secondary"></i>  Login with Google</button></a>
      </div>
    </div>
  </div>
 
</header>
{% endblock %}