{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block title%}User Profile{%endblock title%}

{%block content%}
<header class="masthead">
<div class="container">
	<div class="container">
	<div class="card text-center" style='background-color:rgba(255,255,255, 0.75)'>
	  <div class="card-header">
	    View Profile
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Username: {{user.username}}</h5>
	    <p class="card-text">First Name: {{user.first_name}}</p>
	    <p class="card-text">Last Name:  {{user.last_name}}</p>
	    <p class="card-text">Email: {{user.email}}</p>
	    <a href="{% url 'edit-profile' %}" class="btn btn-lg btn-info">Edit Profile</a>
  
	  </div>
	</div>
 	</div>
</div>
</header>

{% endblock %}